.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn button {
  padding: 13px 32px;
  background-color: rgb(34, 34, 190);
  box-shadow: 20px 16px 31px -5px #777777;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
}

.btn button:hover {
  transform: translate(5px);
  box-shadow: none;
}
